<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Update Project</h1>

    <div class="project_form">

      <%= render partial: 'form', locals: { project: @project,
                                            msg: "Submit Project",
                                            back_btn: project_path(@project.id) } %>

    </div>

  </div>
</div>
