<% provide(:title, 'Portfolio') %>

<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Page Heading
            <small>Secondary Text</small>
        </h1>
        <% if admin_signed_in? %>
          <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
<!-- /.row -->

<div class="row">
  <% @projects.each do |p| %>
    <div class="col-md-4 portfolio-item">
      <%= image_tag p.image, class: 'img-responsive' %>
      <h3> <%= link_to p.name, p.full_completed %> </h3>
      <p class="text-right">(Source)</P>
      <p><%= truncate p.description, separator: " ", length: 255 %></p>
    </div>
  <% end %>
</div>
