
$navbar-height: 60px;

.navbar {
  font-size: 18px;
  height: $navbar-height;
  padding: 5px 10%;
  ul.nav a, li {
    color: #ddd;
  }
}

body {
  padding-top: $navbar-height;
}

.navbar-logo {
  img {
    height: $navbar-height - 10px;
    width: $navbar-height - 10px;
  }
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    background: image-url('Post_01.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}
