.portfolio-item {
    margin-bottom: 25px;
    h3, h4 {
      display: inline;
    }
    h3 {
      float: left;
    }
    h4 {
      float: right;
    }
}

.img-thumbnail {
  height: 200px;
  width: 200px;
}
