<nav class="navbar navbar-default navbar-fixed-top">
  <div class='container-fluid'>
    <ul class="nav navbar-nav">
      <li><%= link_to "Logo",       root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",       root_path %></li>
      <li><%= link_to "Portfolio",  projects_path %></li>
      <li><%= link_to "Resume",     resume_path %></li>
    </ul>
  </div>
</nav>

<div class="navbar-padding"></div>
